{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "tailwindFunctions": ["tw"],
    "tailwindPreserveDuplicates": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true
}
