@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[x-cloak] {
    display: none;
}

.custom-container {
    max-width: var(--v-theme-max-width);
    margin: 0 auto;
}
